doctype html
html
  head
    meta(http-equiv='Content-type' content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
    for css in htmlWebpackPlugin.files.css
      if (htmlWebpackPlugin.options.production)
        style !{compilation.assets[css.substr(htmlWebpackPlugin.files.publicPath.length)].source()}
      else
        link(rel='stylesheet' type='text/css' href=css)
    title #{htmlWebpackPlugin.options.title}
  body
    h1.center
      | The #[span.color Cubs] last won the #[span.color World Series]
      | #[br] on #[span.color October 14, 1908]
      | #[br] at #[span.color 2:25pm]
      | #[br] in #[span.color Detroit, Michigan]#[sup #[a(href='http://www.baseball-reference.com/boxes/DET/DET190810140.shtml' target='_blank')]]
    h1#won.center
      | That is
      | #[br] #[span.color.d] #[span.dl]
      | #[br] #[span.color.h] #[span.hl]
      | #[br] #[span.color.m] #[span.ml]
      | #[br] and #[span.color.s] #[span.sl] ago
    h1.center
      | The #[span.color Cubs] last played in the #[span.color World Series]
      | #[br] on #[span.color October 10, 1945]
      | #[br] at #[span.color 3:31pm]
      | #[br] in #[span.color Chicago, Illinois]#[sup #[a(href='http://www.baseball-reference.com/boxes/CHN/CHN194510100.shtml' target='_blank')]]
    h1#played.center
      | That is
      | #[br] #[span.color.d] #[span.dl]
      | #[br] #[span.color.h] #[span.hl]
      | #[br] #[span.color.m] #[span.ml]
      | #[br] and #[span.color.s] #[span.sl] ago
    for js in htmlWebpackPlugin.files.js
      if (htmlWebpackPlugin.options.production)
        script !{compilation.assets[js.substr(htmlWebpackPlugin.files.publicPath.length)].source()}
      else
        script(src=js)
