- const files = htmlWebpackPlugin.files
- const options = htmlWebpackPlugin.options
- const data = options.data
doctype html
html
  head
    meta(http-equiv='Content-type' content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
    link(href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet')
    for css in files.css
      if (options.production)
        style !{compilation.assets[css.substr(files.publicPath.length)].source()}
      else
        link(rel='stylesheet' type='text/css' href=css)
    title #{options.title}
  body
    h1.center
      | The #[span.color Cubs] last won the #[span.color World Series]
      | #[br] on #[span.color #{data.won.date}]
      | #[br] at #[span.color #{data.won.time}]
      | #[br] in #[span.color #{data.won_location}]#[sup #[a(href='http://www.baseball-reference.com/boxes/CLE/CLE201611020.shtml' target='_blank')]]
    h1#won.center
      | That is
      | #[br] #[span.color.d] #[span.dl]
      | #[br] #[span.color.h] #[span.hl]
      | #[br] #[span.color.m] #[span.ml]
      | #[br] and #[span.color.s] #[span.sl] ago
    h1.center
      | The #[span.color Cubs] last played in the #[span.color World Series]
      if (typeof data.played === 'object')
        | #[br] on #[span.color #{data.played.date}]
        | #[br] at #[span.color #{data.played.time}]
        | #[br] in #[span.color #{data.played_location}]#[sup #[a(href='http://www.baseball-reference.com/boxes/CLE/CLE201611020.shtml' target='_blank')]]
      else
        | #[br] #[span RIGHT]
        | #[br] #[span.color FRIGGIN']
        | #[br] #[span NOW]#[sup #[a(href='http://www.baseball-reference.com/boxes/CLE/CLE201610250.shtml' target='_blank')]]
    if (typeof data.played === 'object')
      h1#played.center
        | That is
        | #[br] #[span.color.d] #[span.dl]
        | #[br] #[span.color.h] #[span.hl]
        | #[br] #[span.color.m] #[span.ml]
        | #[br] and #[span.color.s] #[span.sl] ago
    script.
      window.data = !{JSON.stringify({won: data.won.d || data.won, played: data.played.d || data.played})}
    for js in files.js
      if (options.production)
        script !{compilation.assets[js.substr(files.publicPath.length)].source()}
      else
        script(src=js)
